{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Delete Feature Request{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ol class="breadcrumb">
          <li><a href="/">Feature Requests</a></li>
          <li><a href="{% url 'featurereq:detail' feature_request.pk %}">{{ feature_request.title }}</a></li>

          <li class="active">Delete</li>
        </ol>

        <div class="page-header">
          <h1>Delete Feature Request</h1>
        </div>

        <p>
          Are you sure you would like to delete the feature request <strong>"{{ feature_request.title }}"</strong>?
        </p>

        <form method="post" action="" class="form">
          {% csrf_token %}
          {% bootstrap_button "Delete" button_type="submit" button_class="btn-danger" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}